/* normalize */
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* variables */
:root{
    --principal: white;
    --secondary: rgba(0, 0, 0, 0.521);
    --third: black;
    --font-primary: 'Anton', sans-serif;
    --font-secondary: 'Rubik', sans-serif;
    --text-lg: 2em;
    --text-md: 1.8em;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
/* General */
/* Header */
body{
    background-color: white;
    padding: 0 76px;
    /* max-width: 1080px; */
    font-family: var(--font-primary);
    color: var(--secondary);
}
header{
    background-color: white;
    height: 145px;
}
header .nav{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;
}
header .logo{
    flex-basis: 30%;
}
header .logo .imgLogo{
    width: 60%;
    height: auto;
    padding: 1rem;
    color: black;
}
header .menu{
    flex-basis: 50%;
    justify-content: space-between;
    padding: 1rem;
}
header .menu .menu_lista{
    float: left;
    border: 2px solid var(--principal);
    border-radius: 6px;
    transition: .5s ease-in-out;
}
header .menu .menu_lista:hover{
    border: 2px solid var(--secondary);
}
header .menu .menu_lista:hover .submenu{
    display: block;
    text-align: start;
    padding: 1rem;
}
header .menu .menu_lista .menu_link{
    text-decoration: none;
    padding: 1rem;
    font-size: var(--text-md);
}
header .menu .menu_lista .submenu{
    display: none;
    position: absolute;
    font-size: var(--text-md);
}
header .menu .menu_lista .submenu .submenu_link{
    text-decoration: none;
}
header .menu .menu_lista .submenu .submenu_link:hover{
    text-decoration: none;
    background-color: #4b66d269;
    padding: 0 1rem;
    border-radius: 6px;
    color: var(--principal);
    transition: .5s ease-in-out;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
  }
.hamburguer-menu .menu_burguer{
    width: 100px;
    height: 50px;
    background-color: black;
    margin: 5px;
}
@media (max-width: 768px) {
    .menu {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
    .hamburger-menu.active .menu_burguer {
      background-color: #260aa7; 
    } 
    .menu.active {
      display: block;
    }
}  
/* FIN HEADER */
/* AQUI COMIENZA FOOTER */
.footer{
    padding: 20px;
}
.footer .footer-item, .footer-item1, .footer-item2, .footer-item3{
    padding: 10px;
}
.footer .Follow_us .red_social{
    padding: 5px;
}
.footer .Follow_us .red_social:hover{
    transform: scale(1.1) rotate(-3deg);
}
/* FIN FOOTER */
/* PAGINA PRINCIPAL - HOME */
main .line_horizontal{
    border: 2px solid #4b66d269;
    margin: 20px 300px;
    border-radius: 50%;
}
main .principal{
    background-image: url(../image/FondoPrincipal1.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 150px 0 150px;
    min-height: 500px;
}
main .principal .titulo{
    position: relative;
    text-align: center;
    font-size: 4em;
    color: white;
    top: 350px;
}
main .principal .btn{
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 180px;
    font-size: 16px;
    transition-duration: 0.4s;
}
main .principal .btnMasInfo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px;
}
main .principal .btnMasInfo .btnMasInfo-1{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: #4b66d2;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
main .principal .btnMasInfo .btnMasInfo-1::before{
    content: '';
    width: 0;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #9ea3a0 0%, #4b66d2 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
main .principal .btnMasInfo .btnMasInfo-1:hover:before{
    width: 150px;
    cursor: pointer;
}
main .aside{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap;
    padding: 50px 0px;
}
main .aside .somos .somos-txt{
    font-size: 2em;
    text-align:center;
    color: #4b66d2;
    width: 600px;
}
main .aside .intro-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 50px;
    background-image: url(../image/CasaFondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main .aside .intro-servicios .intro-txt{
    text-align: center;
    font-size: 3em;
    color: white;
}
main .aside .intro-servicios .intro-txt:hover{
    cursor: pointer;
    padding: 10px;
    border-radius: 15%;
    box-shadow: 0px 0px 15px #4b66d2;
}
main .aside .servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3px;
    padding: 3px;
    background-color: #b1b1c363;
}
main .servicios .servicios-presentacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    margin: 1px;
    padding: 2px;
    width: 300px;
    height: 150px;
}
main .servicios .servicios-presentacion .servicios-img{
    width: 40px;
    height: auto;
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
    background-color: transparent;
}
/* PAGINA CONTACTO */
main .datos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
main .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 2px solid #4b66d2;
    border-radius: 10px;
}
main .formulario .busqueda, .contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 200px;
    /* height: auto;
    margin: 10px;
    padding: 30px;
    border: 2px solid #4b66d2;
    border-radius: 10px; */
    font-size: 1.5em;
}

.group{
    position: relative;
    margin: 10px;
}
.group .input{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}
.group{
    position: relative;
}
.group .input{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}
.group .input:focus{
    outline: none;
}
.group .label{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}
.group .label-char{
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}
.group .input:focus ~ label .label-char,
.group .input:valid ~ label .label-char{
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
} 
.group .bar{
    position: relative;
    display: block;
    width: 200px;
} 
.group .bar:before,.group .bar:after{
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
}
.group .bar:before{
    left: 50%;
}
.group .bar:after{
    right: 50%;
}
.group .input:focus ~ .bar:before,
.group .input:focus ~ .bar:after{
    width: 50%;
}
  
  